{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  
  <div class="order-info">
    <h2>Checkout</h2>
    <h4>Your order</h4>
    <ol>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }} = 
          <span>NGN{{ item.total_price }}</span>
        </li>
      {% endfor %}
      <li>
        <p> <h5>Total: NGN{{ cart.get_total_price }}</h5></p>
      </li>
    </ol>
    
  </div>

  <div class="container">
    <div  class="d-flex row justify-content-center align-items-center py-md-5 py-3" >
      <div class="col-12">
        <form method="post" class="order-form">
          {{ form|crispy }}
          {% csrf_token %}
          <p><input type="submit" value="Place Order"></p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
